:root {
	--grey: #7B7B7B;
	--blue: #0E71EB;
	--light-grey: #f6f6f6;
	--element-grey: #E8E6ED;
	--green: #53ae98;
	--orange: #FFA500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.debug [class *= 'col'] {
	border: 1px solid red;
}

html {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: var(--grey);
}

.btn {
	border-radius: .3em;
	padding: .4em .6em;
}

.header-main {
	height: 6rem;
	background-color: var(--light-grey);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-main label {
	display: none;
}

.header-main .col-left {
	display: flex;
	align-items: stretch;
}

.header-main .btn-left,
.header-main .btn-right {
	background-color: var(--element-grey);
	margin: 0 .5em;
}

.header-main .search {
	display: flex;
	align-items: center;
	margin: 0 .5em;
	padding: .2em .5em ;
	background-color: var(--element-grey);
	border-radius: .3em;
}

.header-main .search input {
	background-color: transparent;
	border: none;
	margin-left: .5em;
}

.header-main input::placeholder {
	color: var(--light-grey);
}

.header-main #search:focus,
.header-main #search:focus-visible {
	outline: none;
}

.header-main .search:focus-within {
	border: 1px solid black;
}

.header-main .search:focus-within i {
	color: black;
}

.header-main .col-center {
	flex-grow: 1;
}

.header-main .nav-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header-main .nav-list ul {
	list-style: none;
}

.header-main .nav-list li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-main .nav-list i {
	font-size: 2rem;
}

.header-main .btn-user {
	display: flex;
	margin-right: 1rem;
	width: 4rem;
	height: 4rem;
	background-color: var(--green);
}

.header-main .btn-user i {
	margin: auto;
	font-size: 2rem;
	color: white;
}

main {
	display: flex;
	height: calc(100vh - 6rem);
}

main .content {
	margin: auto;
	padding: 1rem;
	display: flex;
	width: 80%;
	max-width: 850px;
	min-width: 380px;
}

main .grid {
	flex-basis: 50%;
	margin: -1rem;
	display: flex;
	flex-wrap: wrap;
}

main .grid .tile {
	flex-basis: 50%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

main .grid .btn-big {
	display: flex;
	margin-bottom: 1rem;
	width: 2.5em;
	height: 2.5em;
	background-color: var(--blue);
	font-size: 2.5rem;
	color: white;
}

main .grid .btn-orange {
	background-color: var(--orange);
}

main .grid i {
	margin: auto;
}

main .calendar {
	flex-basis: 50%;
	margin-left: 1rem;
	padding: 2px;
	border: 1px solid var(--grey);
	text-align: center;
	border-radius: .5rem;
}

main .calendar .date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-top-right-radius: .5rem;
	border-top-left-radius: .5rem;
	height: 30%;
	background-image: url(../img/sfondo.png);
	background-position: center;
	background-size: cover;
	color: white;
}

main .calendar .date-time {
	font-size: 2rem;
}

main .calendar .list-meetings {
	display: flex;
	height: 70%;
	justify-content: center;
	align-items: center;
}
